name: Release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    uses: yarkivaev/npm-workflows/.github/workflows/release.yml@main
    permissions:
      contents: write
      id-token: write
    with:
      node-version: '22'
